<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글목록페이지</title>
    <link rel="stylesheet" th:href="@{/css/board/pagingList.css}">
</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="pagingList">
        <div class="pagingList-con">
            <h1>게시글목록</h1>
            <table>
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성일</th>
                    <th>수정일</th>
                    <th>보기</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board: ${pagingList}">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.content}"></td>
                <!--    <td th:text="${board.}"></td>-->
                    <td th:text="*{#temporals.format(board.createTime, 'yy/MM/dd/ HH:mm:ss')}"></td>
                    <td th:text="*{#temporals.format(board.updateTime, 'yy/MM/dd/ HH:mm:ss')}"></td>
                    <td><a th:href="@{/board/detail/{id}(id=${board.id})}">보기</a></td>
                    <td><a th:href="@{/board/delete/{id}(id=${board.id})}">삭제</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="10">
                        <div class="paging">
                            <ul>
                                <li>
                                    <span th:if="${pagingList.pageable.pageNumber+1 eq 1}" class="span0">시작</span>
                                    <span th:unless="${pagingList.pageable.pageNumber+1 eq 1}">
                                    <a th:href="@{/board/pagingList(page=0)}" class="span1">처음</a>
                                </span>
                                </li>
                                <li>
                                    <!-- 이전페이지가  첫번째 페이지이면   span표시 -->
                                    <span th:if="${1==pagingList.pageable.pageNumber+1}" class="span0">이전</span>
                                    <span th:unless="${1==pagingList.pageable.pageNumber+1}">
                    <!--itemList.pageable.pageNumber 현재페이지 -1 -->
                    <a th:href="@{/board/pagingList(page=${pagingList.pageable.pageNumber-1})}" class="span1">이전</a>
                  </span>
                                </li>
                                <!-- block  -->
                                <!-- 페이지 번호 -->
                                <li th:each="i: ${#numbers.sequence(startPage, endPage)}" class="block">
                                    <span th:if="${i == pagingList.pageable.pageNumber+1}" th:text="${i}"
                                          class="now"></span>
                                    <a th:unless="${i == pagingList.pageable.pageNumber+1}"
                                       th:href="@{/board/pagingList(page=${ i - 1})}" th:text="${i}"></a>
                                </li>
                                <li>
                                    <!-- 현재페이지가 마지막 페이지이면   span표시 -->
                                    <span th:if="${pagingList.totalPages ==pagingList.pageable.pageNumber+1}"
                                          class="span0">NEXT</span>
                                    <!-- 현재페이지가 마지막 페이지아니면    a 표시 현재페이지 +1 -->
                                    <span th:unless="${pagingList.totalPages ==pagingList.pageable.pageNumber+1}">
                                        <a th:href="@{/board/pagingList(page=${pagingList.pageable.pageNumber+1})}"
                                           class="span1">다음</a>
                                    </span>
                                </li>
                                <li>
                                    <!-- 현재페이지가 마지막 페이지이면   span표시 -->
                                    <span th:if="${pagingList.totalPages ==pagingList.pageable.pageNumber+1}"
                                          class="span0">END</span>
                                    <!-- 현재페이지가 마지막 페이지가 아니면 마지막 페이지로 이동 해라  a -->
                                    <span th:unless="${pagingList.totalPages ==pagingList.pageable.pageNumber+1}">
                                             <a th:href="@{/board/pagingList(page=${pagingList.totalPages-1})}"
                                                class="span1">마지막</a>
                                     </span>
                                </li>
                            </ul>
                            <ul>

                            <li><a th:href="@{/board/write}">글작성</a></li>


                            </ul>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>


<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
</html>