<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>write</title>
    <link rel="stylesheet" th:href="@{/css/board/write.css}">
</head>
<body>

<div th:replace="~{/fragments/common/header :: headerFragment}"></div>
<div class="container">
    <div class="write">
        <div class="write-con">
            <h1>게시글작성</h1>
            <ul>
                <li>
                    <form th:action="@{/board/write}" method="POST" th:object="${boardDto}">

                        제목: <input type="text" name="title" id="title"> <br>

                        작성자: <input type="text" name="writer" id="writer"> <br>


                        내용: <textarea name="content" id="content" cols="30" rows="10"> </textarea> <br>


                        <input type="submit" value="게시글 작성">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
</html>