<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" th:href="@{/css/member/detail.css}">

    <script th:src="@{/js/member/detail.js}" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/map/address.js}" defer></script>


</head>

<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>
<div class="detail">
    <div class="detail-con">

        <!--<th:block sec:authorize="hasRole('ADMIN')">-->

        <div class="detail">
            <div class="detail-con">

                <div class="detail-form">

                    <form th:action="@{/member/update}" method="post" enctype="multipart/form-data"
                          th:object="${memberDto}">

                        <h1 class="title">회원상세보기</h1>

                        <ul>

                            <!--                            <label for="id">ID</label>-->
                            <input type="hidden" name="id" id="id" th:value="${member.id}" readonly>

                            <li>
                                <label for="email">email</label>
                                <input type="text" name="email" id="email" th:value="${member.email}"
                                       readonly>
                            </li>

                            <li>
                                <label for="userPw">userPw</label>
                                <input type="text" name="userPw" id="userPw" th:value="${member.userPw}">
                            </li>


                            <li>
                                <label for="name">name</label>
                                <input type="text" id="name" name="name" th:value="${member.name}">
                            </li>


                            <li>
                                <label for="nickName">nickName</label>
                                <input type="text" id="nickName" name="nickName" th:value="${member.nickName}">
                            </li>


                            <li>
                                <label>성별</label>
                                <input type="radio" id="male" name="gender" value="M"
                                       th:checked="${member.gender eq 'M'}">
                                <label for="male">Male</label>


                                <input type="radio" id="female" name="gender" value="F"
                                       th:checked="${member.gender eq 'F'}">
                                <label for="female">Female</label>
                            </li>


                            <li>
                                <label for="address">주소</label>
                            <li class="address one">
                                <input type="text" id="postcode" placeholder="우편번호">
                                <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기">
                            </li>
                            <li class="address two">
                                <input type="text" id="mainAddress" placeholder="주소">
                                <input type="text" id="detailAddress" placeholder="상세주소">
                                <input type="text" id="extraAddress" placeholder="참고항목">
                            </li>
                            </li>
                            <input type="text" name="address" id="address" th:value="${member.address}" readonly>


                            <li>
                                <label for="note">note</label>
                                <input type="text" id="note" name="note" th:value="${member.note}">
                            </li>


                            <li>
                                <label for="number">number</label>
                                <input type="text" id="number" name="number" th:value="${member.number}">
                            </li>


                            <li>
                                <label for="role">role</label>
                                <input type="text" id="role" name="role" th:value="${member.role}">
                            </li>

                            <li>
                                <label>작성시간:</label>
                                <span th:text="${member.createTime}"></span>
                            </li>

                            <li>
                                <label>수정시간:</label>
                                <span th:text="${member.updateTime}"></span>
                            </li>

                            <li>
                                <input type="submit" value="회원수정" class="last-sub">
                                <a th:href="@{/member/delete/{id}(id=${member.id})}" class="last-sub">삭제</a>

                            </li>

                            <li>
                                <!-- 본인, admin이면 수정 삭제가 보이도록 -->
                                <a th:href="@{/member/memberList}" class="last-sub">목록</a>

<!--                                <th:block sec:authorize="hasRole('ADMIN')">-->
<!--                                    <th:block th:if="${member.email==myUserDetails.username}">-->
<!--                                        <input type="submit" value="게시글수정" class="last-sub">-->
<!--                                        <a th:href="@{/member/delete/{id}(id=${member.id})}" class="last-sub">삭제</a>-->
<!--                                    </th:block>-->
<!--                                    <th:block th:unless="${member.email==myUserDetails.username}">-->
<!--                                        <input type="submit" value="게시글수정" class="last-sub">-->
<!--                                        <a th:href="@{/member/delete/{id}(id=${member.id})}" class="last-sub">삭제</a>-->
<!--                                    </th:block>-->
<!--                                </th:block>-->
                            </li>

                        </ul>
                    </form>
                </div>
            </div>
        </div>

        <!--</th:block>-->


        <div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
</html>