<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 index</title>
    <link rel="stylesheet" th:href="@{/css/member/index.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/member/join.js}" defer></script>
</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>
<div class="index">
    <div class="index-con">
        <ul>
            <li><a th:href="@{/chat}">WebSocket</a></li>

            <li><a th:href="@{/member/memberList}">memberList</a></li>


            <li><a th:href="@{/member/memberList}">memberList</a></li>


        </ul>

    </div>
</div>
<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
</html>