<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>글상세</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/shop/like.js}" defer></script>
    <script th:src="@{/js/shop/reply.js}" defer></script>
    <script th:src="@{/js/shop/count.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/shop/sell.css}">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f956ef011454dabcb2db379b72c4e588&libraries=services"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/map/kakaoMap.js}" defer></script>

</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>

<th:block sec:authorize="isAuthenticated()">
    <div th:replace="~{/shop/fragments/sell/sellFragment :: sellFragment}"></div>
</th:block>



<th:block sec:authorize="isAnonymous()">
    <div th:replace="~{/shop/fragments/sell/sellFragmentNo :: sellFragmentNo}"></div>
</th:block>


<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
</html>

